.gpt3__article{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 1rem 0rem;
}
.gpt3__article-image{
    height: 100%;
    width: 100%;
    background-color: var(--color-footer);
}
.gpt3__article-image img{
    height: 100%;
    width: 100%;
}
.gpt3__article-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-footer);
    padding: 1rem 1.5rem;
    height: 100%;
}
.gpt3__article-container p{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.gpt3__article-container h3{
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}
.gpt3__article-container p:last-child{
    cursor: pointer;
}
@media screen and (max-width:550px) {
    .gpt3__article-container h3{
        font-size: 18px;
        line-height: 25px;
    }
}
