.gpt3__heading-marker{
    display: block;
    height: 3px;
    width: 50px;
    border: none;
    background: var(--gradient-bar);
}


.feature__row{
    display: flex;
}
.feature__column{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 3rem;
    padding-right: 2rem;
}
.gpt3__features-container__feature-title{
    font-size: 15px;
    color: white;
    font-family: var(--font-family);
}
.gpt3__features-container__feature-text{
    color: white;
    font-family: var(--font-family);
}
.feature__row .gpt3__features-container__feature-title{
    flex: 1;
}
.feature__row .gpt3__features-container__feature-text{
    flex: 2;
}
.feature__column .gpt3__features-container__feature-title{
    padding-bottom: 3rem;
}

@media screen and (max-width:900px){
    .feature__row{
        flex-direction: column;
        min-width: 300px;
        max-width: 400px;
        margin-bottom: 3rem;
        padding-right: 2rem;
    }
    .gpt3__features-container__feature-title{
        padding-bottom: 3rem;
    }
}
