.gpt3__navbar{
    padding: 1rem 6rem;
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-footer);
    /* margin: 2rem 20rem; */
}
@media screen and (max-width:1000px) {
    .gpt3__navbar{
        padding: 1rem 3rem;
    }
}
@media screen and (max-width:600px) {
    .gpt3__navbar{
        padding: 1rem 1rem;
    }
}
.gpt3__navbar-toggle{
    cursor: pointer;
}
/* .gpt3__navbar:hover{
    background-color: var(--color-footer);
} */
.gpt3__navbar-links{
    flex: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.gpt3__navbar-links_logo{
    margin-right: 2rem;
}
.gpt3__navbar-links_logo img{
    width: 8rem;
    height: 2rem;
}
.gpt3__navbar-links_container{
    display: flex;
}
.gpt3__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0 1.5rem;
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button{
    font-family: var(--font-family);
    background-color: #ff4820;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.gpt3__navbar-menu{
    display: none;
    position: relative;
}

.gpt3__navbar-menu_container{
    border-radius: 1rem;
    background: var(--color-footer);
    width: 220px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0rem;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}


.gpt3__navbar-menu_container-links{
    margin-bottom: 1rem;
}
.gpt3__navbar-menu_container-links p{
    margin: 0.5rem;
    padding: 0.25rem 0;
}

@media screen and (max-width:1200px){
    .gpt3__navbar-menu{
        display: flex;
    }
    .gpt3__navbar-menu_container-sign{
        display: none;
    }
    .gpt3__navbar-links_container{
        display: none;
    }
}
@media screen and (max-width:600px){
    .gpt3__navbar-sign{
        display: none;
    }
    .gpt3__navbar-menu_container-sign{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .gpt3__navbar-menu_container-sign p,
    .gpt3__navbar-menu_container-sign button
    {
        margin: 0.5rem;
    }
}